<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TVmeetLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TVmeetLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="69f1c32f803d307e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TVmeetLauncher.Properties.Settings>
      <setting name="IS_LOGGING" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LOG_LEVEL" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LOG_ISAPPEND" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LOGDIR_PATH" serializeAs="String">
        <value>log\</value>
      </setting>
      <setting name="LOGFILE_NAME" serializeAs="String">
        <value>Log</value>
      </setting>
      <setting name="LOGFILE_MAXSIZE" serializeAs="String">
        <value>1048576</value>
      </setting>
      <setting name="LOGOLDDIR_PATH" serializeAs="String">
        <value>old\</value>
      </setting>
    </TVmeetLauncher.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <TVmeetLauncher.Properties.Settings>
      <setting name="LOGFILE_PERIOD" serializeAs="String">
        <value>30</value>
      </setting>
    </TVmeetLauncher.Properties.Settings>
  </userSettings>
</configuration>